<a href="https://colab.research.google.com/github/alondra-8a/Estadistica/blob/main/Unidad2/Programa_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Combinaciones con repetición
##Unidad 2
Docente: Jose Gabriel Rodriguez Rivas

Alumna: Alondra Viridiana Ochoa Ibáñez

Carrera: Ing. Sistemas Computacionales

In [45]:
import math as mt
from itertools import combinations
from itertools import combinations_with_replacement
import numpy as np

In [46]:

nombres = ["David", "Janeth", "Ari", "Daniela", "Ana", "Kiara", "Dayana", "Allison", "Jordan", "Camila"]
n = len(nombres)
r = 2 #como agrupar

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n - r))

print("Existen", Cn, "posibles combinaciones sin repetición del total de", n, "nombres en grupos de", r, "en ", r)

combinaciones_nombres = list(combinations(nombres, r))

print("Aquí las combinaciones:")
for combinacion in combinaciones_nombres:
    print(combinacion)

Existen 45.0 posibles combinaciones sin repetición del total de 10 nombres en grupos de 2 en  2
Aquí las combinaciones:
('David', 'Janeth')
('David', 'Ari')
('David', 'Daniela')
('David', 'Ana')
('David', 'Kiara')
('David', 'Dayana')
('David', 'Allison')
('David', 'Jordan')
('David', 'Camila')
('Janeth', 'Ari')
('Janeth', 'Daniela')
('Janeth', 'Ana')
('Janeth', 'Kiara')
('Janeth', 'Dayana')
('Janeth', 'Allison')
('Janeth', 'Jordan')
('Janeth', 'Camila')
('Ari', 'Daniela')
('Ari', 'Ana')
('Ari', 'Kiara')
('Ari', 'Dayana')
('Ari', 'Allison')
('Ari', 'Jordan')
('Ari', 'Camila')
('Daniela', 'Ana')
('Daniela', 'Kiara')
('Daniela', 'Dayana')
('Daniela', 'Allison')
('Daniela', 'Jordan')
('Daniela', 'Camila')
('Ana', 'Kiara')
('Ana', 'Dayana')
('Ana', 'Allison')
('Ana', 'Jordan')
('Ana', 'Camila')
('Kiara', 'Dayana')
('Kiara', 'Allison')
('Kiara', 'Jordan')
('Kiara', 'Camila')
('Dayana', 'Allison')
('Dayana', 'Jordan')
('Dayana', 'Camila')
('Allison', 'Jordan')
('Allison', 'Camila')
('Jordan', 'Camila')

##Ejemplo 2. Caracteres alfabeticos y digitos

In [47]:
caracteres = ["A", "B", "C", "D", "E","F", "0", "1", "2", "3", "4", "5"]
n = len(caracteres)
r = 10 #como agrupar

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n - r))

print("Existen", Cn, "posibles combinaciones sin repetición del total de", n, "caracteres en grupos de", r, "en ", r)

print("Aquí las combinaciones:")
combinaciones_caracteres = list(combinations(caracteres, r))
for combinacion in combinaciones_caracteres:
    print(combinacion)

Existen 66.0 posibles combinaciones sin repetición del total de 12 caracteres en grupos de 10 en  10
Aquí las combinaciones:
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '3')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('C', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')

##Combinaciones con repetición

In [48]:
dado = ["1", "2", "3", "4", "5", "6"]
n = len(dado)
r = 2 # se agrupa de 2 en 2 porque hay 2 dados

CnR = mt.factorial(n + r - 1) / (mt.factorial(r) * mt.factorial((n + r - 1)-r))
print("Existen", CnR ," posibles combinaciones con repeticion del total de ",n,"caracteres ", " en grupos de ", r, "en  ",r)

print("Aquí las combinaciones con repeticion de dos dados:")
elementos = [ 1, 2, 3, 4, 5, 6 ]
r = 2

combinaciones_dado = list(combinations_with_replacement(dado, r))
for combinacion in combinaciones_dado:
    print(combinacion)

Existen 21.0  posibles combinaciones con repeticion del total de  6 caracteres   en grupos de  2 en   2
Aquí las combinaciones con repeticion de dos dados:
('1', '1')
('1', '2')
('1', '3')
('1', '4')
('1', '5')
('1', '6')
('2', '2')
('2', '3')
('2', '4')
('2', '5')
('2', '6')
('3', '3')
('3', '4')
('3', '5')
('3', '6')
('4', '4')
('4', '5')
('4', '6')
('5', '5')
('5', '6')
('6', '6')